.navList {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navLink {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 28px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.activeNavLink {
  color: blue;
  outline: 1px solid blue;
  border-radius: 15px;
  background-color: lightblue;
}

.navImg {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
